@media screen and (min-width: 1240px) and (max-width: 30000px) {
}

@media screen and (min-width: 1240px) and (max-width: 1400px) {
}

@media screen and (min-width: 1200px) and (max-width: 1239px) {
    .container {
        padding: 0 30px;
    }

    .footerlogos ul li {
        margin: 0 11px;
    }

    .ofc10-francecsno-texthd h2 {
        font-size: 40px;
    }

    .footerpr-part {
        width: 100%;
    }

    .ofc10-ofrbs-boxlogo {
        padding-right: 25px;
    }

    .headertext {
        padding: 100px 0;
        padding-bottom: 70px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        padding: 0 30px;
    }

    .footerlogos ul li {
        margin: 0 8px;
    }

    .ofc10-ofrbs-boxbtn a {
        font-size: 12px;
        width: 185px;
        height: 50px;
        line-height: 50px;
        margin: auto;
        margin-right: 0;
    }

    .ofc10-ofrbsbox-rating img {
        height: 18px;
    }

    .ofc10-ofrbsbox-rating h3 {
        font-size: 16px;
    }

    .ofc10-ofrbsbox-score h3 {
        font-size: 16px;
    }

    .ofc10-ofrbsbox-score h4 {
        font-size: 25px;
    }

    .ofc10-ofrbsbox-score h4 sub {
        font-size: 13px;
        margin-left: 2px;
        margin-bottom: 1px;
    }

    .headertext p br {
        display: none;
    }

    .headerlogo-part img {
        height: 66px;
    }

    .ofc10-ofrbsbox-bonus h3 {
        font-size: 20px;
    }

    .ofc10-ofrbs-box-area {
        padding-bottom: 30px;
    }

    .footerpr-part p br {
        display: none;
    }

    .footer-nav ul li a {
        font-size: 12px;
    }

    .copyright-area p {
        font-size: 13px;
    }

    .footerpr-part {
        width: 100%;
    }

    .headertext {
        padding: 80px 0;
        padding-bottom: 75px;
    }

    .ofc10-francecsno-texthd h2 {
        font-size: 33px;
        line-height: 50px;
    }

    .ofc10-francecsno-texthd p {
        text-align: justify;
    }

    .ofc10textbox-part {
        gap: 30px;
    }

    .ofc10-francecsno-item1 p {
        text-align: justify;
    }

    .ofc10-ofrbs-boxlogo {
        padding-right: 28px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 0 30px;
    }

    .main-area {
        padding: 0px 0;
        background-image: inherit;
    }

    .headerlogo-part img {
        height: 55px;
    }

    .headertext {
        padding: 65px 0;
        padding-bottom: 90px;
    }

    .headertext h1 {
        font-size: 55px;
        padding-bottom: 10px;
    }

    .headertext p {
        font-size: 18px;
        letter-spacing: 0px;
    }

    .headertext p br {
        display: none;
    }

    .headertext ul li h6 {
        font-size: 15px;
        padding-left: 4px;
    }

    .headertext ul {
        padding-top: 30px;
        gap: 15px;
    }

    .footer-nav h3 {
        padding-top: 30px;
    }

    .footer-nav ul li a {
        font-size: 16px;
    }

    .footer-nav ul li {
        margin: 0 10px;
        margin-bottom: 15px;
    }

    .footer-nav ul li {
        padding-left: 0px;
    }

    .footerlogos ul li {
        margin: 0 7px;
    }

    .ofc10-francecsno-item1 h2 {
        font-size: 20px;
    }

    .footerlogos ul li a img {
        height: 40px;
    }

    .ofc10-ofrbs-boxlogo {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .mbrating-box {
        display: block;
        width: 40%;
    }

    .ofc10-ofrbsbox-rating {
        width: 100%;
        position: relative;
    }

    .cmrating-box {
        display: none;
    }

    .ofc10-ofrbs-boxinner {
        width: 100%;
        padding-bottom: 25px;
    }

    .ofc10-ofrbsbox-bonus {
        width: 100%;
        position: relative;
    }

    .ofc10-ofrbsbox-score {
        width: 40%;
        position: relative;
    }

    .ofc10-ofrbs-boxbtn {
        width: 100%;
    }

    .ofc10-ofrbs-boxbtn a {
        margin: auto;
        margin-right: auto;
        width: 200px;
        margin-top: 22px;
    }

    .ofc10-ofrbs-boxlogo img {
        margin: auto;
    }

    .footer-nav ul {
        text-align: center;
    }

    .copyright-area p {
        font-size: 12px;
        padding-top: 20px;
    }

    .footerpr-part {
        width: 100%;
    }

    .cmofrbsbox-bonus {
        display: none;
    }

    .mbofrbsbox-bonus {
        display: block;
    }

    .ofc10-ofrbs-boxleft {
        width: 50%;
        display: block;
        padding: 20px 20px;
        box-sizing: border-box;
        height: 100%;
    }

    .ofc10-ofrbs-boxright {
        width: 50%;
        padding: 0 20px;
    }

    .main-ofc10-ofrbs-box {
        padding-left: 64px;
        margin-bottom: 35px;
    }

    .ofc10-ofrbs-box-area {
        padding: 70px 0;
        padding-bottom: 0px;
    }

    .ofc10textbox-part {
        display: block;
    }

    .ofc10textbox-left {
        width: 100%;
    }

    .ofc10textbox-right {
        display: none;
    }
    .ofc10-francecsno-texthd img {
        max-width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 55px;
    }

    .ofc10text-box {
        padding: 35px;
        padding-bottom: 0px;
        box-sizing: border-box;
    }

    .newheadertext h1 {
        font-size: 55px;
    }

    .newheadertext {
        padding: 90px 0;
        padding-bottom: 85px;
    }
}

@media screen and (max-width: 767px) {
    .logo-part {
        padding-top: 15px;
    }
    .headertext h1 {
        font-size: 35px;
        padding-bottom: 7px;
        text-align: center;
        width: 100%;
        line-height: normal;
    }
    .logo-part img {
        height: 30px;
    }

    .ofc10-headertop-area {
        padding: 10px 10px;
    }

    .ofc10-headertop-part p {
        font-size: 8px;
        font-weight: 600;
    }

    .ofc10-headertop-part p img {
        height: 17px;
    }

    .main-area {
        background-image: url("../img/mbbg1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .headerlogo-part img {
        height: 42px;
        margin-bottom: 25px;
    }

    .headertext {
        padding: 55px 0;
        padding-bottom: 30px;
    }

    .headertext h1 br {
        display: none;
    }

    .headertext h1 {
        font-size: 32px;
        padding-bottom: 7px;
        text-align: center;
    }

    .headertext p br {
        display: none;
    }

    .headertext p {
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        width: 100%;
    }

    .headertext ul li h6 {
        font-size: 12px;
        top: -2px;
        padding-left: 3px;
    }

    .headertext ul li img {
        max-width: 100%;
        display: inline-block;
        width: 23px;
    }

    .headertext ul {
        padding-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        justify-content: center;
        grid-row-gap: 14px;
        width: 100%;
        margin: auto;
        align-items: center;
    }
    .headertext ul li {
        justify-content: center;
    }

    .headertext ul li {
        margin: 0 0px;
        text-align: left;
    }

    .ofc10-ofrbs-box-area {
        padding: 45px 0;
        padding-bottom: 0px;
    }

    .main-ofc10-ofrbs-box {
        padding: 0px;
        padding-top: 0px;
        align-items: end;
        position: relative;
        margin-bottom: 13px;
        overflow: hidden;
        height: inherit;
    }

    .ofc10-ofrbs-boxbtn {
        width: 100%;
        padding-top: 20px;
    }

    .ofc10-ofrbs-boxbtn a {
        margin: auto;
        margin-right: auto;
    }

    .cmrating-box {
        display: none;
    }

    .mbrating-box {
        display: block;
    }

    .ofc10-ofrbsbox-rating {
        width: 60%;
        padding-top: 0px;
    }

    .ofc10-ofrbsbox-score {
        width: 40%;
    }

    .ofc10-ofrbs-boxinner {
        width: 100%;
        padding-top: 20px;
    }

    .ofc10-ofrbsbox-bonus {
        width: 100%;
    }

    .ofc10-ofrbsbox-bonus h5 {
        font-size: 12px;
        text-align: left;
        padding-bottom: 8px;
    }

    .ofc10-ofrbsbox-bonus h3 {
        font-size: 18px;
        padding-left: 0px;
        line-height: 28px;
        text-align: center;
    }

    .ofc10-ofrbs-boxbtn a {
        font-size: 14px;
        width: 100%;
        height: 32px;
        line-height: 32px;
    }

    .ofc10-ofrbsbox-score h4 {
        font-size: 17px;
    }

    .ofc10-ofrbsbox-score h4 sub {
        font-size: 10px;
    }

    .ofc10-ofrbsbox-score h3 {
        font-size: 10px;
        padding-top: 2px;
    }

    .ofc10-ofrbsbox-rating h3 {
        font-size: 10px;
        padding-top: 8px;
    }

    .ofc10-ofrbs-boxlogo {
        width: 100%;
        padding-right: 0px;
    }

    .mbrating-box {
        width: 45%;
    }

    .ofc10-ofrbsbox-rating img {
        max-width: 100%;
        display: block;
        margin: auto;
        height: 17px;
    }

    .ofc10-francecsno-texthd h2 {
        font-size: 23px;
        line-height: 35px;
        padding-bottom: 8px;
    }

    .ofc10-francecsno-texthd p {
        font-size: 13px;
        line-height: 22px;
    }

    .ofc10-francecsno-texthd {
        padding-bottom: 35px;
    }

    .ofc10-francecsno-item1 h2 {
        font-size: 18px;
        padding-bottom: 8px;
        line-height: 30px;
    }

    .ofc10-francecsno-item1 p {
        font-size: 13px;
        line-height: 22px;
    }

    .ofc10-francecsno-item1 {
        padding-bottom: 25px;
    }

    .ofc10-francecsno-text-area {
        padding: 40px 0;
    }

    .copyright-area p {
        font-size: 10px;
    }

    .footer-nav ul li {
        margin: 0 0px;
        margin-bottom: 14px;
        display: block;
    }

    .footer-nav ul li a {
        font-size: 14px;
        font-weight: 400;
    }

    .footer-nav ul {
        padding-top: 0px;
        padding-bottom: 30px;
        text-align: center;
    }

    .footerpr-part p {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 12px;
    }

    .footerpr-part p br {
        display: none;
    }

    .footerpr-part {
        width: 100%;
    }

    .footerlogos ul li {
        display: inline-block;
        margin: 0px;
    }

    .footerlogos ul li a img {
        height: 32px;
    }

    .ofc10-francecsno-item1 ul li h6 {
        font-size: 13px;
        line-height: 22px;
        padding-left: 13px;
    }

    .ofc10boxlogo {
        max-width: 130px;
        display: block;
        margin-top: 0px;
        margin: auto;
    }

    .main-area-sub {
        padding: 0px 0;
        background-image: url("../img/mbbg1.png");
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer-nav ul li {
        padding-left: 0;
    }

    .txnewherotext h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .cmofrbsbox-bonus {
        display: none;
    }

    .ofc10textbox-right {
        display: none;
    }

    .ofc10text-box {
        padding: 25px 15px;
        padding-bottom: 0px;
        box-sizing: border-box;
    }

    .ofc10textbox-part {
        display: block;
    }

    .ofc10textbox-left {
        width: 100%;
    }

    .ofc10-francecsno-texthd img {
        max-width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 35px;
    }

    .footerlogo-part img {
        height: 35px;
    }

    .footerlogo-part {
        padding: 25px 0;
        padding-top: 35px;
    }

    .footer-nav h3 {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .footer-nav ul li span {
        display: none;
    }

    .footerlogos {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .mbofrbsbox-bonus {
        display: block;
    }

    .ofc10-ofrbs-boxleft {
        width: 50%;
        display: block;
        padding: 20px 10px;
        box-sizing: border-box;
        height: 100%;
        padding-top: 52px;
        background: #010a11;
    }

    .ofc10-ofrbs-boxright {
        width: 50%;
        padding: 20px 10px;
        box-sizing: border-box;
    }

    .ofc10-ofrbsbox-bonus p {
        font-size: 12px;
        padding-top: 8px;
    }

    .offer {
        width: 35px;
        height: 44px;
        position: relative;
    }

    .offer p {
        font-size: 12px;
        line-height: 40px;
    }

    .mainoffer {
        position: absolute;
        top: -1px;
        left: 11px;
    }

    .footerlogos ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        justify-content: space-around;
        grid-row-gap: 20px;
        width: 202px;
        margin: auto;
    }

    .footerlogos ul li:nth-child(4) a img {
        display: block;
        margin: auto;
        margin-right: 0px;
    }

    .newheadertext h1 {
        font-size: 32px;
        text-align: center;
        width: 100%;
        line-height: normal;
    }

    .newheadertext {
        padding: 51px 0;
        padding-bottom: 30px;
    }
}
